<div class="flex flex-col h-screen p-3 shadow bg-primary/25 w-64">
  <h5 class="text-primary font-bold mb-4">Menu</h5>
  <ul class="flex flex-col space-y-2">
    <li class="mb-2">
      <a class="text-gray-800 hover:text-primary" href="/dashboard">Dashboard</a>
    </li>
    @for( item of navItems; track item){
      @if((role$ | async) == item.role){
        <li class="mb-2">
          <a class="text-gray-800 hover:text-primary" [href]="item.link">{{item.title}}</a>
        </li>
      }
    }
  </ul>
</div>
